<div class="my-0 mx-auto w-[32rem] p-5 bg-gray-700 rounded">
  <AppInput class="w-full" placeholder="Add a task..." />

  <Task @title="Finish my current project" @description="lorem ipsum dolor some description" />
  <Task @title="Finish my current project" @description="lorem ipsum dolor some description" />
</div>
